*{
  font-family: 'Lato', sans-serif;
}

h1{
  text-align: center;
}
h1 span{
  font-size: 1rem;
}
button:focus{
  outline:none;
}
button{
  cursor:pointer;
}

/* Bands List */
#project-list{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items:center;
}
#project-list article{
  align-self:flex-start;
  text-align: center;
  /*background-color: #eee;*/
  padding:10px;
  margin:10px;
}
#project-list article img{
  display:block;
  margin:auto;
}
#project-list article h4{
  font-size: 1.2rem;
  text-transform: uppercase;
}
#project-list article h4 a{
  text-decoration: none;
  color:black;
}
#project-list article button{
margin:10px;
float:right;
background-color: #caac41;
border-radius: 3px;
border:0px;

}
#project-list article button i{
  color:white;
}


/* Search Form */
#search-form{
  display: flex;
  align-items: center;
}
/*#search-form label{
  font-size: 2rem;
  text-transform: uppercase;
}*/
#search-form .search-input{
  background-color: whitesmoke;
    border: 0px solid;
    height: 50px;
    width: 100%;
    font-size: 2rem;
    color:darkgrey;
}
#search-form .search-input::placeholder{
  color:darkgrey;
}
#search-form .search-input:focus{
    outline:none;
}
/*#search-form button{
  height: 50px;
  border:3px solid darkgrey;
  color:darkgrey;
  background-color: whitesmoke;
}*/

/* Favorites*/
favorites button{
  margin-left: 10px;
  border:0px;
  background-color: transparent;
  font-weight: bold;
  color:red;
  font-size: 1rem;
}
